<h1>Conversations</h1>

<div id="convo-count"><strong>Current Conversation Count: <%=@conversations.count %></strong></div>

<% @conversations.each do |convo| %>
  <%= link_to(conversation_path(convo)) %>
<% end %>