<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<h1>Conversations</h1>

<div id="convo-count"><strong>Current Conversation Count: <%=@conversations.count %></strong></div>

<% @conversations.each do |convo| %>
  <%= link_to(conversation_path(convo)) %>
<% end %>