<h1>Start a new conversation</h1>

<%= form_with scope: :conversation, url: conversations_path, local: true do |form|  %>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username%><br>
  </p>
  <p>
    <%= form.submit text: 'Start Chatting'%>
  </p>
<% end %>