<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
  <h1>Start a new conversation</h1>

  <%= form_with scope: :conversation, url: conversations_path, local: true do |form|  %>
    <p>
      <%= form.label :username %><br>
      <%= form.text_field :username%><br>
    </p>
    <p>
      <%= form.submit text: 'Start Chatting'%>
    </p>
  <% end %>
</div>